* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Oswald', sans-serif;
    /* max-width: 1400px; */
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.overflow {
    overflow: hidden;
}
.bg-grey {
    color: #434343;
}

/* Navigation */
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.navlogo {
    width: 155px;
    height: 59px;
    margin: 0px 30px;
}
.column1 {
    width: 400px;
    height: 70vh;
}
.nav {
    margin: 10px ;
}
.columnshop {
    display: flex;
    position: fixed;
    background-color: #434343;
    width: 30%;
    margin-left: 70%;
    height: 100%;
}
/* Header */
.header {
    height: 300px;
    background-color: #eb4a5a63;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}
.logo {
    width: 500px;
    height: 500px;
}
.bg-card {
    transition: all 0.25s;
}
.row .bg-card:hover {
    transform: translateY(-10px);
}
.btn-danger {
    background-color: #eb4a5a !important;
    border-color: #434343;
    transform: #434343;
    margin-right: 20px;
}
/* footer */
.footer {
    margin-top: 50px;
}
.textfooter {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 180px;
    background-color: #434343;
}

@media (min-width: 425px) {
    
    /* nav */
    .tab1{
        justify-content: flex-end;
    }
    #pills-home-tab{
        /* display: none; */
    }
    #pills-profile{
        position: relative;
        /* right: 100%; */
        /* max-width: 70% */
    }
    .table-sm{
        position: relative;
        right: 100%;
        /* max-width: 70%; */
        display: none;
        height: max-content;
        /* border: 1px solid red; */
        background: linear-gradient(45deg, #ff0000, #ff7a7a, #ff4d4d, #ff0000);
        /* background-position-x: 15px; */
        border-radius: 15px;
        transition: 5s;
    }
    #table__transition{
        transition: 5s;
    }
    .nav-menu_visible{
        right: 0%;
        display: table;
        

    }
    /* FIN nav */

    /* Header */
    .header {
        background: linear-gradient(45deg, #ff0000, #ff4747, #ff000075, #ffc0c0);
        animation: fondo__card 10s ease-in-out infinite;
    }
    @keyframes fondo__card {
        0%{background-position: 0% 50%;}
        50%{background-position: 100% 50%;}
        100%{background-position: 0% 50%;}
    }

    /* FIN Header */

    .card{
        border-radius: 15px;
        border: 1px solid red;
    }
    

    /* #nav__item1{
        display: none;
    }
    #nav__item2{
        display: none;
    }  */


    #pills-tabContent{
        display: flex;
    }
    #pills-home{
        
        position: relative;
        /* right: 142px; */
        
    }

    
}